venv/
.env
__pycache__/
logs/
.pytest_cache/
data/coco_cars/images
data/coco_cars/masks
data/combined_dataset/images
data/combined_dataset/masks
data/self_made_dataset/images
data/self_made_dataset/masks
.vscode/settings.json
src/models/*.pth